* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-primaria: #ff6311;
  --cor-secundaria: #2c2b2b;
  font-family: "Barlow Condensed", sans-serif;
}

/*----------*/
.cabecalho {
  background: var(--cor-secundaria);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-menu ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.cabecalho-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

/*------------*/
.principal {
  background-image: url("/img/banner.png");
  background-size: cover;
  height: 630px;
  background-position: center;
  width: 100%;
}

.principal-conteudo {
  width: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.principal-conteudo h1 {
  font-size: 130px;
}

.principal-conteudo p {
  text-indent: 10px;
  font-size: 24px;
}

.principal-conteudo a {
  padding: 10px 70px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  width: max-content;
  background: var(--cor-primaria);
}

/* ----------------------- */
.card {
  width: 400px;
  background: var(--cor-secundaria);
}

.card-img figure img {
  width: 100%;
}

.card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  color: #fff;
}

.card-conteudo {
  text-align: justify;
  font-size: 24px;
}

.card-conteudo h3 {
  text-transform: uppercase;
}

section {
  padding: 30px 50px;
}

.secao-dance {
  background: var(--cor-primaria);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.cabecalho-secao {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.cabecalho-secao p {
  text-align: justify;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.cabecalho-secao h2 {
  padding: 24px;
  font-size: 64px;
}

.cabecalho-secao p {
  text-indent: 15px;
  text-align: center;
  font-size: 30px;
}

/*--------------*/
.secao-planos {
  background: var(--cor-secundaria);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 90px;
  color: #fff;
}

.card-plano {
  background: var(--cor-primaria);
  width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.card-plano-img figure img {
  width: 112px;
}

.card-plano-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  text-align: justify;
  font-size: 24px;
}

.card-plano-conteudo a {
  background: var(--cor-secundaria);
  padding: 15px 80px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

/*------------------*/
.secao-amazing {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 0;
  height: 1000px;
  width: 100%;
}

.amazing-img {
  width: 50%;
  background-image: url("/img/sec3-im1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.amazing-conteudo {
  width: 50%;
  background: var(--cor-primaria);
  color: #fff;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 60px;
  gap: 60px;
}

.amazing-conteudo h1 {
  font-size: 64px;
  text-transform: uppercase;
}

.amazing-conteudo p {
  font-size: 30px;
}

.amazing-conteudo a {
  background: var(--cor-secundaria);
  padding: 15px 80px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  width: 325px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

.best {
  background-image: url("/img/sec3-im2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
